# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\p7professor\Architect-Stage-1-Monolith-master\architect-stage-1-monolith\第1阶段单体架构\mybatis-generator-for-imooc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
